<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        beStrictAboutChangesToGlobalState="true">
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
    </php>
    <testsuites>
        <testsuite name="TestingBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <logging>
        <log type="coverage-clover" target="tests/.results/tests-clover.xml"/>
        <log type="junit" target="tests/.results/tests-junit.xml"/>
        <log type="coverage-html" target="tests/.results/html/"/>
    </logging>
</phpunit>
